@import './base.css ';


body{
height: 4000px;


}
a{
    color: var(--maincolor);
}

.header{
    background-color:white ;
    color: var(--maincolcoor);
    padding: 15px;
    box-shadow: 1px 11px 20px 0px rgba(0, 0, 0, 0.4);
}
.header .logo{
display: flex;
align-items: center;
gap: 5px;

}
.header .logo img{
width: 30px;

}
.header .logo a{
    font-size: 15px;
    font-weight: 700;
}
.menu{
    display: none;
}
  
.header .navbar ul{
    display: flex;
    flex-wrap: wrap;
     gap: 30px;
}

.header .navbar ul li a{
    font-family: var(--mainFoint);
    color: rgba(0, 0, 0, 0.9);
    
}
.header .navbar ul li a:hover{
   font-weight: 700;
    
}
.header .auth {
    font-family: var(--subFoint);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
.header .auth .login{
border: 1px solid var(--maincolor);
width: 120px;
padding: 5px 0;
border-radius: 7px;
text-align: center;
font-weight: 600;

}

.header .auth .register{
    border: 1px solid var(--maincolor);
    background-color: var(--maincolor);
    color: white;
    width: 120px;
    padding: 5px 0;
    border-radius: 7px;
    text-align: center;
    font-weight: 600;
    }
    @media screen and (max-width:987px){
     .menu{
        display: block;
        
     }
     .navbar,
     .header .auth{
      display: none;

     }
    }
    @media screen and (max-width:335px){
        .container{
        width: calc(100% - 32px);

        }
        .header .logo img {
            width: 21px;
        }
        .header .logo a {
        font-size: 10px;
        

        }
    }

.right-course{
   background-color: white; 
}
.right-course .start-rightcourse{
   width: 50%; 
   display: flex;
   flex-direction: column;
   gap:20px;
   flex-wrap: wrap;
}

.right-course  img{
   
   width: 50%;
}

.right-course .start-rightcourse .p1{
font-family: var(--subFoint);
color: var(--maincolor);
}
.right-course .start-rightcourse .p1 span{
  font-weight: 700;
    }
    .right-course .start-rightcourse .p2{
        font-family: var(--mainFoint);
        color: #969696;


    }

    .right-course .start-rightcourse h2{
    font-size: 90px;
    font-weight: 700;
    font-family: var(--mainFoint);


    }
    .right-course .start-rightcourse h2 span{
        color:var(--maincolor)

    }

    .right-course .start-rightcourse .reg-play{
       display: flex;
       gap:27px;
       font-family: var(--subFoint); 
       font-weight: 600;
       
    }

     .right-course .start-rightcourse .reg-play .register{
        border: 1px solid var(--maincolor);
        background-color: var(--maincolor);
        color: white;
        width: 120px;
        padding: 5px 0;
        border-radius: 7px;
        text-align: center;
      
        }
        .right-course .start-rightcourse .reg-play .play{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         gap: 5px;
         

        }
     
      @media  screen and (max-width:1100px){
        .right-course .row{
            flex-direction: column;
            gap: 15px;
        }
        .right-course .start-rightcourse h2{
            font-size: 50px;
            
        
        
            }
        
      }            
      @media  screen and (max-width:630px){
        .right-course .start-rightcourse h2{
            font-size: 40px;
            
        
        
            }
            .right-course .start-rightcourse .reg-play{
                flex-direction: column;
            }

        
      }         
      @media  screen and (max-width:510px){
        .right-course .start-rightcourse h2{
            font-size: 30px;
            
        
        
            }} 
            @media  screen and (max-width:410px){
                .right-course .start-rightcourse{
                    gap:1px;
                }    
                .right-course .start-rightcourse h2{
                    font-size: 20px;
                   } 
                   .right-course .start-rightcourse .p2{
                    font-size: 10px;
                   }
                
                    
            } 
        


.Taking-course {
    background:  linear-gradient(180deg, #545BE8 0%, #272DB0 100%);

}
.Taking-course .row{
    gap:40px;
}
.Taking-course img{
    width: calc((100% - 40px )/2);
    
}
.Taking-course .end-takingcourse{
    width: calc((100% - 40px )/2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.Taking-course .end-takingcourse .p1{
    color: #F0C932;
    font-weight: 200;
    font-family: var(--subFoint);}
    .Taking-course .end-takingcourse h2{
     color: white;
     font-family: var(--mainFoint);
     font-size: 35px;}
     .Taking-course .end-takingcourse .p2{
     font-family: var(--mainFoint);
     color: #DDDDDD;
     font-weight: 300;


     }
     .Taking-course .end-takingcourse .numbers{
     
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     text-align: center;
     }
     .Taking-course .end-takingcourse .numbers span{
      color:  #F0C932;
      font-weight: 700;
      font-size: 20px;
      
     }
     .Taking-course .end-takingcourse .numbers p{
        color: white;
        
       }

       @media  screen and (max-width:785px){
       .Taking-course{
        padding: 30px 0;
       }
        .Taking-course .row{
        flex-direction: column;
        gap: 20px;
       }
         
        
            
    } 











    .testimonials{
        background-color: white;
        padding: 50px 0;


    }
.testimonials h2{
    text-align: center;
    margin: 16px 0;
}
.testimonials .row{
    justify-content: center;
   gap:40px;
   margin-bottom:64px;
}
.testimonials .testimonial
{
    padding: 30px;
    box-sizing:border-box ;
box-shadow: 0px 8.24px 8.24px 0px #0000001A;
width: calc( ( 100% - 40px)/2);
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap:12px;
position: relative;

}
.testimonials .testimonial::after{
    content: '';
    position: absolute;
   border-top:40px solid  #F4F4F4;
   border-bottom:40px solid transparent ; 
   border-left:40px solid  transparent; 
   border-right:40px solid #F4F4F4; 
   right: 0;
   top: 0;
}

.testimonials .testimonial .user-info {
display: flex;
flex-wrap: wrap;
gap: 10px;
}
.testimonials .testimonial .user-info img{
    width: 40px;
  height: 40px;
    border-radius: 50%;
}
.testimonials .testimonial .user-data{
    display: flex;
    flex-direction: column;
    gap:5px
}
.testimonials .testimonial .user-data span{
   color:#969696;
}
.testimonials .testimonial .rating{
   display: flex;
   gap:8px; 
}

.testimonials .testimonial .rating img{
width:20px;

}
.testimonials .testimonial blockquote q{
    color:#646464;
}
@media  screen and ( max-width: 620px ){ 
    .testimonials .row{
        flex-direction: column;
     
    
}
.testimonials .testimonial{
width: 100%;


}
}

 






























 .footer{
  background-color: #393E46;
  color: white;
  padding: 80px;
  font-family: var(--mainFoint);
  
 }
 .footer .row{
    gap:40px;
 }
 .footer a{
    color: white;
 }
 .footer .footer-start{
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 gap: 30px;
width: calc( ( 100% - 40px ) /2);

 }
 .footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
 }
.footer .footer-start .logo img{
    width: 30px;
}
.footer .footer-start .logo a{
font-weight: 700;

}

.footer .footer-start .icon img{
    border: 1px solid white;
    width: 30px;
    padding: 3px;
}
.footer .footer-end{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc( ( 100% - 40px ) /2);
    
    
    
}
 .footer .footer-end .footer-item{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 35px; 
}

.footer .footer-end .footer-item h2{
   font-weight: 600; 
}
.footer .footer-end  nav{
    display: flex;
    flex-wrap: wrap;
  flex-direction: column;
    gap: 24px;
}
@media screen and (max-width:1300px) {
    .footer .row{
        flex-direction: column;
    }
    .footer .footer-start,
    .footer .footer-end
    {
        width: 100%;
    }
   
}
@media screen and (max-width:768px) {
    .footer .footer-end{
        gap: 10px;
       
    }
    
    .footer .footer-end .footer-item {
        width: calc( ( 100% - 10px ) /4);
    }
  
   
       }
@media screen and (max-width:600px) {
   .footer .footer-end .footer-item{
    width: calc( ( 100% - 10px ) /2);
   }
            
        }
@media screen and (max-width:450px) {
    .footer .footer-end{
       flex-direction: column;
      
       
       
    } 
    
            
        

}
           

